[flake8]
max-line-length = 79

ignore =
    # Normal default
    E121,E123,E126,E226,E24,E704,W503,W504,
    # Additional ignore:
    E127,

exclude =
    .git
    *venv*

per-file-ignores =
    tests/performance.py: E402
    contagion/mc_sim.py: E712
